<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="ackermann_robot">
  <xacro:arg name="prefix" default="" />

  <xacro:include filename="$(find ackermann_robot_description)/urdf/ackermann_robot_description.urdf.xacro" />

  <!-- Import Rviz colors -->
  <xacro:include filename="$(find ackermann_robot_description)/urdf/ackermann_robot.materials.xacro" />


  <xacro:ackermann_robot prefix="$(arg prefix)" />

</robot>